<p-panel header="Bitte wählen Sie eine der folgenden Optionen:">
    <div class="centered">
        <div class="height50"></div>
        <div>
            <button id="Longbutton" type="button" (click)="login()" icon="" pButton label="Mit Benutzerdaten anmelden"></button>
        </div>
        <div class="height50"></div>
        <div>
            <button id="Longbutton" type="button" (click)="createAccount()" icon="" pButton label="Ein Kundenkonto erstellen"></button>
        </div>
        <div class="height50"></div>
        <div>
            <button id="Longbutton" type="button" (click)="guestOrder()" icon="" pButton label="Bestellung als Gast"></button>
        </div>
    </div>
</p-panel>