<p-panel header="Bestellung abgeschlossen">
    <div class="height210"></div>
    <div class="centered height400">
        <b>Vielen Dank für Ihre Bestellung!</b><br><br>
        <small>Da unser Konzern, momentan noch, aus nur einem Mitarbeiter besteht und unser Koch sich dazu noch weigert,
               in die Kche zu gehen, um Pizza zu backen, müssen Sie leider damit rechnen, dass die Lieferung Ihrer Bestellung
               eine ganze Weile dauert! Aber Rom wurde auch nicht an einem Tag abgebrannt...</small>
    </div>
</p-panel>